<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h1>Список книг на остатке в библиотеке</h1>
    <ul>
      {% for book in books %}
      <li>
        <a> {{ book.id }} - {{book.name}} </a>
      </li>
      {% endfor %}
    </ul>
    <a href="http://127.0.0.1:8000/book/form_for_create_issue_book/reader/{{ reader.id }}">Взять книгу</a>
    <a href="http://127.0.0.1:8000/book/start_page_book/{{ reader.id }}">Назад</a>
    <a href="http://127.0.0.1:8000/reader/get_readers/">Выйти</a>
</body>
</html>
